body {
    background-attachment: fixed;
    background-image: linear-gradient(135deg, #50577a 0%, #041c32 100%);
}

.con {
    margin: auto;
    margin-top: 5%;
    width: 400px;
    height: 400px;
    background: #6e85b2;
    border: 10px solid #ffffff;
    transition: 0.3s linear;
    box-shadow: inset 0 0 20px 0px rgba(109, 111, 114, 0.77);
}

.linux-body {
    position: relative;
    width: 200px;
    height: 300px;
    background: #000000;
    border-radius: 60% 60% 50% 50% / 90% 90% 40% 40%;
    margin: auto;
    top: 10%;
    border: 3px solid #ffffff;
    border-bottom: none;
}

.linux-body > div {
    position: absolute;
}

.eye {
    width: 15px;
    height: 25px;
    background: #000000;
    top: 10%;
    left: 30%;
    border-radius: 60%;
    border: 10px solid #ffffff;
    transition: 0.2s ease;
}

.eye-r {
    left: 50%;
}

.nose {
    width: 1.3%;
    height: 1.3%;
    background: #000000;
    top: 23%;
    left: 45%;
    z-index: 7;
    border-radius: 50%;
}

.nose-r {
    left: 50%;
}

.mouth {
    width: 50px;
    height: 50px;
    background: #fff323;
    border: 2px solid #000000;
    top: 18%;
    left: 36%;

    transform: rotate(45deg);

    border-radius: 50% 20% 50% 20% / 50% 20% 50% 20%;
    z-index: 3;
}

.lips {
    width: 20%;
    height: 0.5%;
    background: #000000;
    border-radius: 10%;
    top: 29%;
    left: 40%;
    z-index: 5;
}

.belly {
    width: 70%;
    height: 60%;
    background: #ffffff;
    top: 30%;
    left: 15%;
    border-radius: 80% 80% 40% 40% / 100% 100% 50% 50%;
    z-index: 2;
}

.foot {
    width: 32%;
    height: 22%;
    background: #fff323;
    top: 80%;
    z-index: 4;
    border: 3px solid #000000;
    border-radius: 80% 80% 40% 40% / 100% 100% 50% 50%;
}
.foot-r {
    left: 65%;
}
